# vim:filetype=make
# make.config
# written by Jonas Juselius <jonas@iki.fi> Tue Dec  4 12:09:26 EET 2001
#



SHELL:=/bin/sh

host:=x86_64-unknown-linux-gnu
host_os:=linux-gnu
host_cpu:=x86_64
host_vendor:=unknown


PACKAGE_NAME:=CFOUR
PACKAGE_TARNAME:=cfour
PACKAGE_BUGREPORT:=jonas@iki.fi
PACKAGE_VERSION:=1.2
ARCHIVE_NAME=$(PACKAGE_TARNAME)-$(PACKAGE_VERSION)
ARCHIVE_TARNAME=$(PACKAGE_TARNAME)_$(PACKAGE_VERSION)

CC:=mpicc
CXX:=mpicxx
FC:=mpif90
CPP:=icc -E
CPPFLAGS:=
CFLAGS:=
CXXFLAGS:=
FCFLAGS:=
LDFLAGS:=  
LIBS:=

LD:=xild
RAN:=ranlib
STRIP:=strip
AWK:=@AWK@
AR:=xiar
ETAGS:=etags
CTAGS:=ctags
LN_S:=@LN_S@
YACC:=@YACC@
LEX:=@LEX@
LEXLIB:=@LEXLIB@
PYTHON_BIN=@PYTHON_BIN@
PYTHON_LIB=@PYTHON_LIB@

FORTRAN_COMPILER=ifort

INSTALL:=/usr/bin/install -c
INSTALL_DATA:=${INSTALL} -m 644
INSTALL_SCRIPT:=${INSTALL}
INSTALL_PROGRAM:=${INSTALL}
mkinstalldirs=$(topdir)/config/mkinstalldirs

FC_MODEXT=
FC_MODCASE=@FC_MODCASE@

prefix=/home1/00416/csim/local/cfour.par
exec_prefix=${prefix}
inst_bindir=${exec_prefix}/bin
inst_libdir=${exec_prefix}/lib
inst_libexecdir=${exec_prefix}/libexec
inst_includedir=${prefix}/include
inst_datadir=${datarootdir}

libdir:=$(topdir)/lib
libexecdir:=@top_libexecdir@
bindir:=$(topdir)/bin
scriptdir:=$(topdir)/bin
includedir:=$(topdir)/include
datadir:=$(topdir)/share
datarootdir=${prefix}/share

all_src:=$(wildcard *.f90 *.F *.f *.c *.cxx)
all_objs:=$(addsuffix .o, $(basename $(all_src)))
tag_src:=$(filter-out lex.yy.c, $(all_src))
tag_src:=$(filter-out y.tab.c, $(tag_src))

# search path used by make to find dependencies
VPATH=$(includedir):$(libdir):$(bindir)

ARCH=x86_64-unknown-linux-gnu

FCLIBS= -L/opt/apps/intel/13/composer_xe_2013.2.146/compiler/lib/intel64 -L/usr/lib/gcc/x86_64-redhat-linux/4.4.7/ -L/usr/lib/gcc/x86_64-redhat-linux/4.4.7/../../../../lib64 -L/usr/lib/gcc/x86_64-redhat-linux/4.4.7/../../../../lib64/ -L/lib/../lib64 -L/lib/../lib64/ -L/usr/lib/../lib64 -L/usr/lib/../lib64/ -L/usr/lib/gcc/x86_64-redhat-linux/4.4.7/../../../ -L/lib64 -L/lib/ -L/usr/lib64 -L/usr/lib -lifport -lifcore -limf -lsvml -lm -lipgo -lirc -lpthread -lirc_s -ldl

BLAS_LIBS=
LAPACK_LIBS=

BLAS95=@F90_LIBS_blas95@
LAPACK95=@F90_LIBS_lapack95@
LIBMPI_F90=@F90_LIBS_mpi_f90@
MPI_TYPE=lam
ENABLE_GIMIC=no

#Fortran flags
fcflags:=-O3 -DINT64 -cpp -i8 -assume byterecl -assume buffered_io -extend_source -DMPI -openmp -mkl=sequential
fdebug:=-g -DINT64 -cpp -i8 -assume byterecl -assume buffered_io -extend_source
fprof:=-p
frange:=-CB
fldflags:=-O3 -i8 -assume byterecl -assume buffered_io -openmp -mkl=sequential

# C compiler flags
cflags:=-std=c99 -DINT64 -fopenmp -DMPI -mkl=sequential
cdebug:= -g -O0 -std=c99 -DINT64
cprof:=-DPROFILE
crange:=
cldflags:= -fopenmp -mkl=sequential

# C++ compiler flags
cxxflags:=-restrict -DINT64 -fopenmp -DMPI -mkl=sequential
cxxdebug:=-g -O0 -Drestrict= -DINT64
cxxprof:=-DPROFILE
cxxrange:=
cxxldflags:= -fopenmp -mkl=sequential

ifdef DEBUG
  fcflags:=$(fdebug) 
  cflags:=$(cdebug) 
  cxxflags:=$(cxxdebug) 
  bindir:=.
endif

fcflags+=-I.. -I$(includedir) 
cflags+=-I.. -I$(includedir) 
cxxflags+=-I.. -I$(includedir) 

ifdef PROF
  fcflags+=$(fprof)
  fldflags+=$(fprof)
  cflags+=$(cprof)
  cldflags+=$(cprof)
  cxxflags+=$(cxxprof)
  cxxldflags+=$(cxxprof)
  bindir:=.
endif

ifdef RANGE
  fcflags+=$(frange)
  cflags+=$(crange)
  cxxflags+=$(cxxrange)
  bindir:=.
endif

fldflags:=$(fldflags) -L. -L$(libdir) $(LDFLAGS)
cldflags:=$(cldflags) -L. -L$(libdir) $(LDFLAGS)
cxxldflags:=$(cxxldflags) -L. -L$(libdir) $(LDFLAGS)

# remove extra whitespace
FCFLAGS:=$(strip  $(fcflags) $(FCFLAGS))
FLDFLAGS:=$(strip $(fldflags) $(FLDFLAGS))

CFLAGS:=$(strip   $(cflags) $(CFLAGS))
CLDFLAGS:=$(strip $(cldflags) $(CLDFLAGS))

CXXFLAGS:=$(strip   $(cxxflags) $(CXXFLAGS))
CXXLDFLAGS:=$(strip $(cxxldflags) $(CXXLDFLAGS))

